.background-image {
  position: absolute;
  -webkit-filter: blur(7px);
}

.category-section {
  margin: auto;
  width: 806px;
  margin-top: 66px;
}

.category-box {
  height: 237px;
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
  margin: 14px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  opacity: 0.8;
}
