header {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #125688;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom-color: #125688;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
}

table {
  margin: auto;
}

td, th {
  padding: 18px;
  padding-left: 26px;
  padding-right: 26px;
}

td {
  border-top-style: solid;
  border-top-color: #125688;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #125688;
  border-bottom-width: 1px;
  color: #125688;
}

.background-image {
  position: absolute;
  -webkit-filter: blur(7px);
  z-index: -1;
}

.category-section {
  margin: auto;
  max-width: 806px;
  margin-top: 66px;
}

.category-box {
  height: 237px;
  width: 250px;
  background-color: #FFFFFF;
  text-align: center;
  margin: 14px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 3px;
  opacity: 0.8;
}

.category-box:hover {
  border-color: #428bca;
  opacity: 1;
}

.category-image-div {
  height: 130px;
  width: 160px;
  margin: auto;
  margin-top: 14px;
}

.category-title {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #125688;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 44px;
}

.category-image {
  height: 100%;
  width: 75%;
}

.products-section {
  background-color: #FFFFFF;
  opacity: 0.8;
  margin: auto;
  max-width: 730px;
  margin-top: 66px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.back-link {
  position: absolute;
  margin-left: 3px;
  margin-top: -1px;
  font-size: 15px;
  text-decoration: none !important;
  color: #125688;
}

.back-link:hover {
  color: #181d42;
}

.back-link-arrow {
  margin-left: 30px;
  color: #125688;
}

.products-category-header {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.products-category-property {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.out-of-stock-message {
  position: absolute;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.product-stock-value, .product-price-value {
  text-align: center;
}

.add-button {
  background-color: #125688;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 94px;
  padding: 5px;
  font-size: 12px;
}

.add-button:hover {
  background-color: #181d42;
}
