<section class="products-section">
  <span class="glyphicon glyphicon-chevron-left back-link-arrow" aria-hidden="true"></span>
  <a class="back-link" href="#/home/">Back</a>
  <p class="section-header">{{category.productCategory}}</p>
  <table class="products-table">
    <tr>
      <th class="section-table-heading">Product</th>
      <th class="section-table-heading">Price</th>
      <th class="section-table-heading">In Stock</th>
    </tr>
    <tr ng-repeat="product in category.products">
      <td class="product-name-value">
        {{product.name}}
        <p class="out-of-stock-message" ng-show="customer.printOutOfStockMessage(product)">
          This product is out of stock!
        </p>
      </td>
      <td class="product-price-value">£{{product.price | number:2}}</td>
      <td class="product-stock-value">{{product.quantity}}</td>
      <td>
        <button type="submit" name="add" class="add-button" ng-click="customer.addToCart(product)">
          Add to Cart
        </button>
      </td>
    </tr>
  </table>
</section>
