<section class="category-section">
  <div class="row">
    <a href="#/home/men-footwear">
      <div class="col-md-2 category-box">
        <div><p>Men’s Footwear</p></div>
      </div>
    </a>
    <a href="#/home/men-casualwear">
      <div class="col-md-2 category-box">
        <div><p>Men’s Casualwear</p></div>
      </div>
    </a>
    <a href="#/home/men-formalwear">
      <div class="col-md-2 category-box">
        <div><p>Men’s Formalwear</p></div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="#/home/women-footwear">
      <div class="col-md-2 category-box">
        <div><p>Women’s Footwear</p></div>
      </div>
    </a>
    <a href="#/home/women-casualwear">
      <div class="col-md-2 category-box">
        <div><p>Women’s Casualwear</p></div>
      </div>
    </a>
    <a href="#/home/women-formalwear">
      <div class="col-md-2 category-box">
        <div><p>Women’s Formalwear</p></div>
      </div>
    </a>
  </div>
</section>
