<div class="row">
  <a href="#/home/men-footwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Men’s Foot-wear</p>
      <div class="category-image-div">
        <img src="img/m-footwear.jpg" alt="mens-footwear" class="category-image"/>
      </div>
    </div>
  </a>
  <a href="#/home/men-casualwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Men’s Casual-wear</p>
      <div class="category-image-div">
        <img src="img/mens-casualwears.jpg" alt="mens-casualwear" class="category-image"/>
      </div>
    </div>
  </a>
  <a href="#/home/men-formalwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Men’s Formal-wear</p>
      <div class="category-image-div">
        <img src="img/mens-formalwear.jpg" alt="mens-footwear" class="category-image"/>
      </div>
    </div>
  </a>
</div>
