<section class="shopping-cart-section">
  <span class="glyphicon glyphicon-chevron-left back-link-arrow" aria-hidden="true"></span>
  <a class="back-link" href="#/home/">Continue Shopping</a>
  <p class="section-header">Items Ordered</p>
    <items-ordered></items-ordered>
</section>

<div class="total-price-section">
  <p class="section-header">Total Price</p>
  <p class="total-price-figure">£{{customer.cartTotalPrice() | number:2}}</p>
</div>

<div class="voucher-section">
  <form class="voucher-form">
    <label class="voucher-label" for="voucher">Got a voucher?</label>
    <textarea class="voucher-textarea" name="voucher-code" rows="1" cols="30" ng-model="customer.voucherCode" placeholder="Enter Voucher Code"></textarea>
    <button class="voucher-button" type="submit" name="apply-voucher" ng-click="customer.checkValidVoucher()">Apply</button>
  </form>
  <p class="invalid-message" ng-show="customer.invalidVoucher">
    This voucher is not valid!
  </p>
  <p class="discount-message" ng-show="customer.discountMessage">
    Disount applied! £{{customer.discount}} has been taken off your order.
  </p>
</div>
