<div class="row">
  <a href="#/home/women-footwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Women’s Foot-wear</p>
      <div class="category-image-div">
        <img src="img/womens-footwear.jpg" alt="mens-footwear" class="category-image"/>
      </div>
    </div>
  </a>
  <a href="#/home/women-casualwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Women’s Casual-wear</p>
      <div class="category-image-div">
        <img src="img/womens-casualwear.jpg" alt="mens-footwear" class="category-image"/>
      </div>
    </div>
  </a>
  <a href="#/home/women-formalwear">
    <div class="col-md-3 category-box">
      <p class="category-title">Women’s Formal-wear</p>
      <div class="category-image-div">
        <img src="img/womens-formalwear.jpg" alt="mens-footwear" class="category-image"/>
      </div>
    </div>
  </a>
</div>
